#palabra {
	width: 25em;
}
.typeahead.form-control.tt-hint {
	width: 100%;
}

#autolist {
	width: 18em;
}

#matchings {
	list-style-type: none;
	padding: 0px;
}

#matchings li { 
	background-color: white;
	border: solid 1px #ddd; 
	width: auto; 
	margin: 0px; 
	padding: 0px;
}
#matchings li:hover {
	background-color: #ccc;
	cursor: pointer;
}