{% extends '::base.html.twig' %}

{% block body -%}
    
    <div class="jumbotron">
        <h1>Lista de listas</h1>
    </div>

    <p class="listcreate btn-link">Nueva lista &gt;</p>
    
    <table class="table-striped">
        <tbody>
        {% for entity in entities %}
            <tr>
                <td style="width:42rem;">
                    <div class="listedit" id="{{ entity.id }}">{{ entity.name }}</div>
                </td>
                <td>
                    <a href="{{ path('list_detail', { 'id': entity.id }) }}" class="btn btn-link">detalle</a>
                    <a href="{{ path('list_items', { 'id': entity.id }) }}" class="btn btn-link">items</a>
                </td>
            </tr>
        {% endfor %}
            
        </tbody>
    </table>
    
   
    {% endblock %}
