{% extends '::base.html.twig' %}

{% block body -%}

    {#<a href="{{ path('json_list') }}">json list</a>#}
    
    <h2>Búsqueda de listas</h2>
    <form class="form-inline" role="form" method="POST">
        <div class="form-group" id="multiple-datasets">
            <input type="text" class="typeahead form-control" id="palabra" name="palabra" 
                placeholder="Introduce una palabra..." />
            <input type="submit" style="position: absolute; left: -9999px; width: 1px; height: 1px;"/>
        </div>
    </form>

    
    
{% endblock %}
